# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName orange-ent.net
AuthUserFile /home/pr885489/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/pr885489/public_html/_vti_pvt/service.grp
